page-login {
    .header{
        color: white;
        background-color: map-get($new69Colors, red );
        font-size: 1.2em;
        line-height: 1.2em;
        .div_exit{
            width: 10%;
            .button_exit{
                background-color: transparent;
                color: white;
                font-size: 1.5em;
            }
        }        
        .div_title{
            margin: auto;
            font-size: 1.7rem;
        }
    }

    .div_login{
        height: 100%;
        width: 100%;
        padding-left: 5vh;
        padding-right: 5vh;
        padding-top: 30vh;
        padding-bottom: 40vh;
        background-color: white;
        .google-login{
            width: 50%;
            height: 100%;
            padding-left: 5vh;
            padding-right: 5vh;
            padding-top: 10vh;
            padding-bottom: 7vh;
            .google-icon{
                height: 100%;
                width: 100%;
            }            
        }
        .facebook-login{
            width: 50%;
            height: 100%;
            padding-left: 5vh;
            padding-right: 5vh;
            padding-top: 10vh;
            padding-bottom: 7vh;
            .facebook-icon{
                height: 100%;
                width: 100%;
            }   
        }

    }

    .scroll-content{
        overflow-y: hidden;
    }
    #googleIcon{
        background-image: url("../assets/new69/gg.png");
        background-position: center;
        background-size: cover;
    }
    #facebookIcon{
        background-image: url("../assets/new69/fb.png");
        background-position: center;
        background-size: cover;
    }
}
