<ion-content class="haspost" id="haspost">
  <!-- refresh data -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- nội dung bài đầu -->
  <div *ngIf="firstPost" (click)="goContentPage(firstPost)">
    <div>
      <img *ngIf="avatarUrl" class="post1" src="{{avatarUrl}}">
    </div>
    <p id="title" class="title">{{title}}</p>
    <p id="description" class="description">{{description}}</p>
    <p *ngIf="firstPost" id="time" class="time">
      <span class="time-style">
        <ion-icon class="time-icon" name="ios-time-outline"></ion-icon> {{date}} </span>
      <span class="comment">
        <ion-icon class="time-icon" name="ios-chatboxes-outline"></ion-icon> {{totalComments}}</span>
    </p>
  </div>
  <!-- danh sách các bài -->
  <div *ngFor="let post of otherPost" class="a3-container a3-items-center a-post" (tap)="goContentPage(post)">
    <div *ngIf="post" class="a-post-avatar">
      <img src="{{post.avatarUrl}}">
    </div>
    <div *ngIf="post" class="a3-container a3-column a3-justify-between  a3-flex-1 post-description a1-height-100">
      <div class="a-post-title">{{post.title}}</div>
      <div>
        <span class="time-post">
          <ion-icon class="time-post-icon" name="ios-time-outline"></ion-icon> {{post.date}} </span>
      </div>
    </div>
  </div>
  <!-- scroll to load more data -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<!-- <ion-content class="nopost" id="nopost"></ion-content> -->