

page-home {
    .header{
        color: white;
        background-color: map-get($new69Colors, red );  
        height: 3.5em;
        .menu-button-left{
            padding: 10px 16px;
            font-size: 1.4em;
        }
        .menu-button-right{
            padding: 10px 16px;
            font-size: 1.4em;
        }
        .menu-title{
            font-size: 1.6em;
            font-weight: bold;
        }
    }

    .supertabs{
        font-weight: bold;
    }
    .text-md-main{
        font-weight: bold;
    }
    .text-ios-main{
        font-weight: bold;
    }
}
