

page-home {
    .header{
        color: white;
        background-color: map-get($new69Colors, red );  
        .menu-button-left{
            padding: 10px 16px;
            font-size: 1.4em;
        }
        .menu-button-right{
            padding: 10px 16px;
            font-size: 1.4em;
        }
        .menu-title{
            font-size: 1.6em;
            font-weight: bold;
        }
    }

    .supertabs{
        font-weight: bold;
    }
    .text-md-main{
        font-weight: bold;
    }
    .text-ios-main{
        font-weight: bold;
    }
    .scroll-content{
        overflow-y: hidden;
        margin-top: 20%;
    }
    ion-content.has-refresher > .scroll-content{
        overflow-y: scroll;
    }
    .button-md-primary{
        background-color: map-get($new69Colors, red );  
    }
}
