// ===============================Start Pure Layout CSS=======================================
.a1-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.a1-container-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.a1-container-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.a1-container-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.a1-content-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.a1-inline-block {
  display: inline-block;
}

.a1-inline {
  display: inline;
}

.a1-block {
  display: block;
}

.a1-relative {
  position: relative;
}

.a1-absolute {
  position: absolute;
}

.a1-fill-parent {
  width: 100%;
  height: 100%;
}

.a1-top-left {
  top: 0px;
  left: 0px;
}

.a1-top {
  top: 0px;
}

.a1-bottom {
  bottom: 0px;
}

.a1-left {
  left: 0px;
}

.a1-right {
  right: 0px;
}

.a1-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.a1-text-center {
  text-align: center;
}

.a1-text-right {
  text-align: right;
}

.a1-text-left {
  text-align: left;
}

.a1-no-margin {
  margin: 0px;
}

.a1-margin {
  margin: 16px;
}

.a1-margin-left {
  margin-left: 16px;
}

.a1-margin-right {
  margin-right: 16px;
}

.a1-margin-top {
  margin-top: 16px;
}

.a1-margin-bottom {
  margin-bottom: 16px;
}

.a1-margin-auto {
  margin: 0 auto;
}

.a1-no-padding {
  padding: 0px;
}

.a1-padding {
  padding: 16px;
}

.a1-padding-left {
  padding-left: 16px;
}

.a1-padding-right {
  padding-right: 16px;
}

.a1-padding-top {
  padding-top: 16px;
}

.a1-padding-bottom,
{
  padding-bottom: 16px;
}

.a1-width-10 {
  width: 10%;
}

.a1-width-20 {
  width: 20%;
}

.a1-width-25 {
  width: 25%;
}

.a1-width-30 {
  width: 30%;
}

.a1-width-33 {
  width: 33.33%;
}

.a1-width-40 {
  width: 40%;
}

.a1-width-50 {
  width: 50%;
}

.a1-width-60 {
  width: 60%;
}

.a1-width-66 {
  width: 66, 66%;
}

.a1-width-70 {
  width: 70%;
}

.a1-width-80 {
  width: 80%;
}

.a1-width-90 {
  width: 90%;
}

.a1-width-100 {
  width: 100%;
}

.a1-height-10 {
  height: 10%;
}

.a1-height-20 {
  height: 20%;
}

.a1-height-25 {
  height: 25%;
}

.a1-height-30 {
  height: 30%;
}

.a1-height-33 {
  height: 33.33%;
}

.a1-height-40 {
  height: 40%;
}

.a1-height-50 {
  height: 50%;
}

.a1-height-60 {
  height: 60%;
}

.a1-height-66 {
  height: 66, 66%;
}

.a1-height-70 {
  height: 70%;
}

.a1-height-80 {
  height: 80%;
}

.a1-height-90 {
  height: 90%;
}

.a1-height-100 {
  height: 100%;
}

.a1-circle {
  border-radius: 50%;
}

.a1-shadow-bottom {
  -webkit-box-shadow: 0px 1px 8px #222;
  box-shadow: 0px 1px 8px #222;
}

.a1-z-1 {
  z-index: 1;
}

.a1-z-2 {
  z-index: 2;
}

.a1-z-3 {
  z-index: 3;
}

.a1-z-4 {
  z-index: 4;
}

.a1-z-5 {
  z-index: 5;
}

.a1-z-6 {
  z-index: 6;
}

.a1-z-7 {
  z-index: 7;
}

.a1-z-8 {
  z-index: 8;
}

.a1-z-9 {
  z-index: 9;
}

.a1-z-10 {
  z-index: 10;
}

.a1-z-100 {
  z-index: 100;
}

// ===============================End Pure Layout CSS=======================================
// ===============================Start Flex CSS=======================================

/*Display*/

.a3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

.a3-container-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.a3-container-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-inline-flex;
}

.a3-flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex: 1;
}


/*Align Items*/

.a3-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.a3-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.a3-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
}

.a3-items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-items: stretch;
}

.a3-items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-align-items: baseline;
}

.a3-items-inherit {
  -webkit-box-align: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-align-items: inherit;
}


/*Align Content*/

.a3-content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-content: flex-start;
}

.a3-content-center {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-content: center;
}

.a3-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-align-content: flex-end;
}

.a3-content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-content: stretch;
}

.a3-content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-content: space-between;
}

.a3-content-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-content: space-around;
}


/*Justify content*/

.a3-justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.a3-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.a3-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.a3-justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.a3-justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}


/*Align self*/

.a3-self-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-align-self: flex-start;
}

.a3-self-center {
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-align-self: center;
}

.a3-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-align-self: flex-end;
}

.a3-self-auto {
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-align-self: auto;
}

.a3-self-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  -webkit-align-self: baseline;
}

.a3-self-stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-align-self: stretch;
}


/*Flex direction*/

.a3-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.a3-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.a3-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.a3-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}


/*Flex wrap*/

.a3-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

.a3-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.a3-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
}


/*Flex flow*/

.a3-flow-row-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.a3-flow-row-nowrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.a3-flow-row-wrap-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap-reverse;
  flex-flow: row wrap-reverse;
}

.a3-flow-column-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.a3-flow-column-nowrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.a3-flow-column-wrap-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap-reverse;
  flex-flow: column wrap-reverse;
}

// ===============================End Flex CSS=========================================
// new69 menu
.statusbar-height {
  height: 20px;
}

.scroll-content {
  height: 100%;
}

.mainbackground {
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-image: url("../assets/new69/top.png");
  .border1 {
    position: absolute;
    top: 3.5vh;
    left: 3vh;
    width: 22vh;
    height: 22vh;
    border-radius: 50%;
    padding: 1.5%;
    background: rgba(220, 200, 200, 0.1);
    .border2 {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      padding: 4%;
      background: rgba(220, 200, 200, 0.3);
      .border3 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
  .border4 {
    width: 17vh;
    height: 17vh;
    position: absolute;
    top: 6vh;
    left: 5.5vh;
    border-radius: 50%;
    padding: 1.5%;
    background-color: #e52d49;
    z-index: 3;
    .border5 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      .image {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-image: url("../assets/new69/avatar.png");
        background-position: center;
        background-size: cover;
      }
    }
  }
  .login {
    position: absolute;
    top: 14%;
    left: 60%;
    color: white;
    font-size: 1.2rem;
  }
  .logout {
    position: absolute;
    top: 13%;
    left: 60%;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    .logoutbtn {
      color: red;
    }
  }
  .list {
    width: 100%;
    height: 82%;
    position: absolute;
    bottom: 0;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    padding-top: 15%;
    overflow: scroll;
    .list-title {
      height: 100%;
      .list-header {
        font-weight: bold;
        font-size: large;
        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
      }
      .list-item {
        padding-left: 10%;
        padding-bottom: 2%;
        padding-top: 2%;
        font-size: medium;
        .list-icon {
          margin-left: 5%;
          width: 5%;
        }
        .list-label {
          margin-left: 2%;
        }
      }
    }
  }
}
