page-content{
    .header{
        color: white;
        background-color: map-get($new69Colors, red );  
        .menu-button-left{
            padding: 16px;
            font-size: 1em;
        }
        .button_right{
          background-color: transparent;

        }
        .div_share{

        }
        .div_save{

        }
        .div_comment{
            margin-left: auto;
            .button_comment{
                margin-left: auto;
            }
        }
        
        .header-post{
            font-size: 1.3em;
            font-weight: initial;
        }
    }
    
    .scroll-content{
        overflow-y: hidden;
    }
    .news{
        height: 100%;
        width: 100%;
        max-width: 100%;
        border: none;
    }
}

