<ion-content>
    <ion-navbar>
        <div class="row">
            <button ion-button class="btn-back" (tap)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
            <ion-searchbar class="search-box" [(ngModel)]="searchKey" [showCancelButton]="shouldShowCancel" (ionInput)="searchPost()"
                (ionCancel)="onCancel($event)">
            </ion-searchbar>
        </div>
    </ion-navbar>
    <!-- <div class="result-post">
        <ion-list *ngFor="let list of resultPost">
            <div class="row" (click)="goContentPage(list)">
                <img class="image-post" src="{{list.avatarUrl}}">
                <div style="width: 60%">
                    <p class="title-post">
                        <span>{{list.title}}</span>
                    </p>
                </div>
            </div>
        </ion-list>
    </div> -->

    <!-- lấy dữ liệu test -->
    <div class="result-post">
        <div *ngFor="let list of posts" style="padding: 5px">
            <div style="background-color: wheat" (tap)="clickPushPost(list)">
                <div>{{list.title}}</div>
                <div style="color: red; font-size: 1.5em">{{list.categoryName}}</div>
            </div>

        </div>
    </div>

    <!-- lấy dữ liệu dạng clip -->
    <!-- <div>
        <input [(ngModel)]="url" type="text" placeholder="url">
        <input [(ngModel)]="title" type="text" placeholder="title">
        <input [(ngModel)]="contentId" type="text" placeholder="contentId">
        <input [(ngModel)]="description" type="text" placeholder="description">
        <input [(ngModel)]="totalComments" type="text" placeholder="totalComments">
    </div>
    <button ion-button type="submit" (tap)="getVal()">push</button> -->
</ion-content>