page-search {
    
    .header{
        color: white;
        background-color: map-get($new69Colors, red );
        .btn-back{
            background-color: transparent; 
            color: black;
            box-shadow: none;
        }  
        .search-box{
            width: 100%;
            margin-right: 5%;
            background-color: transparent;
        }
    }

    .a-post{
        padding: 4px;
        position: relative;
        height: $post-height;
        margin-bottom: 10px;
        color: gray;
    }
    .a-post-avatar{
        width:$post-avatar-width ;
        height: $post-height;
        overflow: hidden;
        img{
           min-width: 100%;
           min-height: 100%;
            
        }
    }
    .post-description{

        padding: 0 10px;
        height: $post-height;
    }
    .a-post-title{
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: initial;
        color: black;
    }
}
