
page-video-detail {
    .video-content{
        width: 100%;
        height: 32vh;
        .exit_button{
            position: absolute;
            top: 0;
            background-color: transparent;
            color: white;
        }
        .big_play_btn{
            position: absolute;
            top: 14vh;
            left: 50%;
            right: 50%;
            color: white;
            background-color: transparent;
        }
    }
    
    .title{
        font-size: 2rem;
        font-weight: bold; 
        margin: 2%
    }
    .description{
        margin: 2%;
        font-size: 1.6rem;
    }
    .time{
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 0; 
        margin-bottom: 2%;
        .time-style{
            font-style: italic;
            .time-icon{
                margin-left: 1%;
            }
        }
        .commemt{
            color: #e52d49;
        }
    }

    .video-js{
        width: 100%;
        height: auto;
    }
}
