::-webkit-input-placeholder { /* WebKit browsers */
    color:    #c71a1a;
}
comment-page{
    .scroll-content{
        overflow-y: hidden;
    }
    .header{
        color: white;
        background-color: map-get($new69Colors, red );
        font-size: 1.2em;
        line-height: 1.2em;
        .div_exit{
            width: 10%;
            .button_exit{
                background-color: transparent;
                color: white;
                font-size: 1.5em;
            }
        }        
        .div_title{
            margin: auto;
            font-size: 1.7rem;
            margin-left: 30%;
        }
    }
    .div_list_cmt{
        height: 100%;
        overflow: auto;
        .div_cmt{
            overflow-y: auto;
            padding: 2%;
            .div_cmt_user_profile{
                height: 100%;
                width: 15%;
                .div_profile{
                    height: 3em;
                    width: 3em;
                    .img_cmt_user_profile{
                        height: 100%;
                        width: 100%;
                        background-color: red;
                        border-radius: 50%;
                    }
                }
                
            }
            .div_content{
                height: 100%;
                max-width: 85%;
                min-width: 50%;
                .div_content_cmt{
                    background-color: wheat;
                    border-radius: 10px;
                    padding: 5px;
                    .div_content_name{
                        font-weight: bold
                    }
                    .div_content_cmt{

                    }
                }
                .div_info_cmt{
                    font-size: 0.9em;
                    .span_info_cmt{
                        margin-left: 5%;
                    }
                }
            }
            .div_view_more{
                text-align: center;
            }
            .div_cmt_rep{
                padding-top: 5px;
                padding-bottom: 5px;
                padding-right: 5px;
                padding-left: 10%;                
                .div_cmt_user_profile_rep{
                    height: 100%;
                    width: 15%;
                    .img_cmt_user_profile_rep{
                        height: 100%;
                        width: 100%;
                        background-color: red;
                        border-radius: 50%;
                    }
                }
                .div_content_rep{
                    height: 100%;
                    max-width: 85%;
                    min-width: 50%;
                    padding-left: 2%;
                    .div_content_cmt_rep{
                        background-color: wheat;
                        border-radius: 10px;
                        padding: 5px;
                        .div_content_name_rep{
                            font-weight: bold
                        }
                        .div_content_cmt_rep{
    
                        }
                    }
                    .div_info_cmt_rep{
                        font-size: 0.9em;
                        .span_info_cmt{
                            margin-left: 5%;
                        }
                    }
                }
            }
        }
    }

    .div_comment{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 3.5em;
        background-color: wheat;
        .div_profile{
            height: 100%;
            width: 15%;
            padding: 1px;
            padding-top: 0.33em;
            padding-bottom: 0.33em;
            padding-left: 0.33em;
            .img_profile{
                border-radius: 50%;
                height: 100%;
                background-color: aqua;
            }
        }
        .div_input_cmt{
            width: 70%;
            padding: 0.5em;
            .div_input_cmt1{
                height: 100%;
                width: 100%;
                background-color: white;
                padding-left: 0.5em;
                padding-right: 0.5em;
                .input_cmt{
                    height: 100%;
                    width: 100%;
                    border: none;
                    font-size: 1.2em;
                    color: #c71a1a
                }
            }
            
        }
        .div_btn_cmt{
            height: 100%;
            width: 15%;
            padding-bottom: 0.33em;
            padding-top: 0.33em;
            padding-right: 0.33em;
            float: right;
            .btn_cmt{
                height: 100%;
                width: 100%;
                font-size: 2em;
                background-color: transparent;
            }
        }
    }
}