<ion-header>
    <div class="header">
        <div class="statusbar-height"></div>
        <div class="a3-container a3-items-center a3-justify-between">
            <div class="div_exit">
                <button class="button_exit" (tap)="exit()">
                    <ion-icon name="ios-close-outline"></ion-icon>
                </button>
            </div>
            <div class="div_title">
                Bình luận
            </div>
        </div>
    </div>
</ion-header>
<ion-content>
    <div class="div_list_cmt">
        <div class="div_cmt" *ngFor="let cmt of commentList">
            <div class="row">
                <div class="div_cmt_user_profile">
                    <div class="div_profile">
                        <img class="img_cmt_user_profile" src={{cmt.userProfile}} alt="">
                    </div>
                </div>
                <div class="div_content">
                    <div class="div_content_cmt">
                        <div class="div_content_name">{{cmt.userCmt}}</div>
                        <div class="div_content_cmt">{{cmt.cmtContent}}</div>
                    </div>
                    <div class="div_info_cmt">
                        <span class="span_info_cmt">
                            {{cmt.timeCmt}} {{cmt.like}} like {{getNumberCmt(cmt.allCmtRep)}} reply
                        </span>

                    </div>
                </div>
            </div>

            <div class="div_cmt_rep" *ngFor="let cmtRep of cmt.allCmtRep">
                <div class="row">
                    <div class="div_cmt_user_profile_rep">
                        <div class="div_cmt_user_profile_rep_size">
                            <img class="img_cmt_user_profile_rep" src="/assets/new69/defaultavatar.png" alt="">
                        </div>
                    </div>
                    <div class="div_content_rep">
                        <div class="div_content_cmt_rep">
                            <div class="div_content_name_rep">{{cmtRep.userCmt}}</div>
                            <div class="div_content_cmt_rep">{{cmtRep.cmtContent}}</div>
                        </div>
                        <div class="div_info_cmt_rep">
                            <span class="span_info_cmt_rep">
                                {{cmtRep.timeCmt}} {{cmtRep.like}} like
                            </span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="div_view_more" *ngIf="getCmtRep(cmt.allCmtRep)">view reply</div>
        </div>
    </div>
    <div class="div_comment row">
        <div class="div_profile">
            <div class="div_profile_cmt">
                <img class="img_profile" src="{{photoUrl}}" alt="">
            </div>
        </div>
        <div class="div_input_cmt">
            <div class="div_input_cmt1">
                <input class="input_cmt" [(ngModel)]="comment" type="text" placeholder="Your comment here...">
            </div>
        </div>
        <div class="div_btn_cmt">
            <button class="btn_cmt" (tap)="writeComment()">
                <ion-icon name="ios-arrow-forward-outline"></ion-icon>
            </button>
        </div>
    </div>
</ion-content>